.selector-box {
    padding: 5px 15px;
    background-color: #00474B;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.5rem;
    font-family: inherit;
    
    &.selected {
        color: #00474B;
        background-color: #26C2AE;
    }
    
    &:not(.selected):hover {
        color: #00474B;
        background: #9FE8DF;
        cursor: pointer;
    }
}